<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.wuliu.dao.CarrierDao">
	<select id = "getUserItemId" parameterType = "String" resultType = "String">
		select id from carrier.`bid_item` where auction_id = #{auction_id}
	</select>
</mapper>